<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bus Management</title>
 <link rel="stylesheet" href="css/home.css">
</head>
<body>

<div id="busPopup" class="popup">
  <span id="goBack">Go Back</span>
  <h2>Bus Management</h2>
  
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name">
    <label for="tele">Tele:</label>
    <input type="text" id="tele">
  </div>
  
  <div class="form-group">
    <label for="direction">Direction:</label>
    <input type="text" id="direction">
    <label for="time">Time Starting:</label>
    <input type="time" id="time" value="10:15">
  </div>

  <div class="form-group">
    <label for="stopStation">Stop Station:</label>
    <input type="text" id="stopStation">
    <label for="returning">Returning:</label>
    <input type="checkbox" id="returning">
  </div>

  <div class="form-footer">
    <button id="cleanBtn">Clean</button>
    <button id="cancelBtn">Cancel</button>
    <button id="validBtn">Valid</button>
  </div>
</div>

<script src="js/home.js"></script>

</body>
</html>
